<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://rerickcusirramos-001-site4.btempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>rerickcusirramos-001-site4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\rerickcusirramos-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_9D8B6E_PAGINASEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5018.Smarterasp.net;Persist Security Info=True;User ID=DB_9D8B6E_PAGINAS_admin;Password=bk4cybertel;Application Name=EntityFramework" Name="Data Source=SQL5018.Smarterasp.net;Persist Security Info=True;User ID=DB_9D8B6E_PAGINAS_admin;Password=bk4cybertel;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Blog.Models.DB_9D8B6E_PAGINASEntities, Blog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_9D8B6E_PAGINASEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5018.Smarterasp.net;Persist Security Info=True;User ID=DB_9D8B6E_PAGINAS_admin;Password=bk4cybertel;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>